@import url(https://weloveiconfonts.com/api/?family=entypo);
		
		
		
		#wrapper {
			width:5px;
			height:35px;
			margin:25px;
			text-align : center;
		}
		.box{
			width:50px;
			height:50px;
			border-radius:50px;
			font-family: entypo;
			color:#212121;
			background:#47513e;
			text-align :center;
			line-height:25px;
			font-size:25px;
			cursor:pointer;
			margin:20px;
			padding: 10px;
			transition: transform .2s;
			margin: 0 auto;
		}
		.box:hover{
			color:#fff;
			transform:scale(1.15);
			transition:1s;
			
			 -ms-transform: scale(1.5); 
			-webkit-transform: scale(1.5); 
			
		}
		#facebook:hover {
			background-color :rgb(59,89,152);
			box-shadow:inset 0 0 0 22px #3A5795;
			transform: rotate(360deg) scale(1.15);
			transition:1.5s;
			
		}
		#twitter:hover {
			background-color :rgb(85,172,238);
			box-shadow:inset 0 0 0 22px #3A5795;
			transform: rotate(360deg) scale(1.15);
			transition:1.5s;
			
		}
		#instagram:hover {
			background-color : #e616a1 ;
			box-shadow:inset 0 0 0 22px #e4405f;
			transform: rotate(360deg) scale(1.15);
			transition:1.5s;
			
		}
		#linkedin:hover {
			background-color :rgb(0,123,181);
			box-shadow:inset 0 0 0 22px #3A5795;
			transform: rotate(360deg) scale(1.15);
			transition:1.5s;
			
		}
		.abt{
			font-size : 35px;
			text-align: center-left;
			font-variant: small-caps;
			max-width:72%;
		}
		.container{
			background-color: #ffd893;
			opacity:1;
			text-align:center;
			margin-left:auto;
			margin-right:auto;
			max-width:72%;
					}

				ul {
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  overflow: hidden;
			  background-color: #333333;
			}

				li {
			  float: left;
			}

			li a {
			  display: block;
			  color: white;
			  text-align: center;
			  padding: 16px;
			  text-decoration: none;
			}

			li a:hover {
			  background-color: #111111;
			}

					body{
					 margin:0;
					 padding:0;
					 height:100vh;
					 background-color: #47513e;

					
					 text-align : center;
					 margin-left:auto;
					 margin-right:auto;
					 font-family: Helvetica, Arial, sans-serif;					
	
				}
				
		
				hr{max-width:72%;}
						img {
								display: block;

										border: 10px solid #000000;
								box-shadow: 2px 2px 2px #000
								border-radius: 100px;
								-webkit-border-radius: 100px;
								-moz-border-radius: 100px;
								 margin-left:auto;
								margin-right:auto;	
								
								
								
							}
						p{ text-align: center;
						 font-family="georgian";
						}
						  h1 {
							color:  #2adba0 ;
							font-family: Futura, "Trebuchet MS", Arial, sans-serif;
							font-weight: 100;
						  }
			
tg{ font-size: 16px; }

						  
  a{
	  text-decoration: none;
	  color : black;
   }

.abt { 					text-align: left;
						margin-left:auto;
					 margin-right:auto; }


																.btn{
																	
																	
																 background-color: #4CAF50;
																  border: none;
																  color: white;
																  padding: 10px 20px;
																  text-align: center;
																  font-size: 16px;
																  cursor: pointer;
																}
																.btn:hover {
																  background-color: #3e8e41;
																color: white;}


		
		.text {
  background-color:white;
  color: black;
  font-size: 25px; 
  font-weight: bold;
  margin: 0 auto;
  padding: 5px;
  width: 10px;
  
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}
	hr{
					max-width: 70%;
					margin-left:auto;
					 margin-right:auto;
	}			


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #47513e;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */


				

	